html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow: hidden;
  background-color: #70C3D6;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.i-headphones {
  font-size: 300px;
  text-decoration: none;
  left: calc(50% - 150px);
  position: relative;
  border-radius: 5px;
  display: inline-block;
  color: #084E5E;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  transition: all 300ms linear;
  animation: wiggle 1200ms ease-in-out infinite;
}

.i-headphones:hover {
  font-size: 330px;
  left: calc(50% - 165px);
  color: #000;
}

@keyframes wiggle {
  0% {
    transform: rotate(15deg);
  }
  35% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  65% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

.type {
  position: relative;
  left: calc(50% - 15em);
  max-width: 30em;
  color: white;
}

.type p {
  font-family: sans-serif;
  font-weight: lighter;
}
